Global.lua
Collections.lua
Crafting.lua
DungeonsAndRaids.lua
DungeonsAndRaidsTBC.lua
PvP.lua
Options.lua
Factions.lua
rawdata.lua
data.lua
.release
.vscode/
cata-data/
test/

# from @Blackwidow-sudo
make.sh
DevBuild

# MacOS files
.DS_Store
