/AtlasLootClassic/Core/MapPOI.lua
/.vscode
/AtlasLootClassic/Libs/*
/AtlasLootClassic_Options/Libs/*
/AtlasLootClassic_Options/Widgets/*
Global.lua
Collections.lua
Crafting.lua
DungeonsAndRaids.lua
PvP.lua
Options.lua
