name: CI

on:
  push:
    tags:
      - '*'

jobs:
  build:
    runs-on: [self-hosed, macos-11]

    steps:
    - uses: actions/checkout@v1

    - name: Install and run Luacheck
      uses: nebularg/actions-luacheck@v1
      with:
        args: "--no-color -q"

    - name: Update Curseforge Translations
      run: ./cf_translations.sh
      env:
        CF_API_KEY: ${{ secrets.CF_API_KEY }}

    - name: Create Package
      uses: BigWigsMods/packager@master
      env:
        CF_API_KEY: ${{ secrets.CF_API_KEY }}
        GITHUB_OAUTH: ${{ secrets.GITHUB_TOKEN }}
        WOWI_API_TOKEN: ${{ secrets.WOWI_API_TOKEN }}
        WAGO_API_TOKEN: ${{ secrets.WAGO_API_TOKEN }}
